@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Barra de rolagem padrão */
::-webkit-scrollbar {
    width: 12px;
    /* Largura da barra de rolagem */
}

/* Cor de fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #363636;
    /* Cinza bem escuro */
}

/* Cor da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #03A5E4;
    /* Azul */
    border-radius: 6px;
    /* Borda arredondada */
}

html,
body {
    width: 100%;
    height: 100%;
}

.secao1 {
    background-image: url(/img/background/background-2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 1%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 0%;
    position: relative;
}

.secao1 .background-master {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Ou largura desejada */
    height: 100%;
    /* Ou altura desejada */
    padding-top: 1%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 0%;
    background-color: rgba(9, 27, 42, 0.288);
    z-index: 1;
}

.caixa-principal .caixa-sub2 {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid transparent;
    animation: typing 10s steps(300, end);
    z-index: 2;
}

@keyframes typing {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.caixa-principal .caixa-sub2 h2 {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
    animation: fadeEffect2 10s infinite;
}

@keyframes fadeEffect2 {
    0% {
        color: #D5DFE9;
    }

    50% {
        color: #03A5E4;
    }

    100% {
        color: #D5DFE9;
    }
}

.caixa-principal .caixa-sub .organizacao {
    animation: typing 2s steps(500, end);
}

.caixa-principal .caixa-sub .ativo {
    color: #03A5E4;
}

.caixa-principal .caixa-sub .link {
    color: #D5DFE9;
    transition: color 0.3s ease-in;
}

.caixa-principal .caixa-sub .link:hover {
    color: #03A5E4;
}

.parte2_da_secao1 {
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.parte2_da_secao1 .organizacao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.parte2_da_secao1 .part1 {
    width: 50%;
}

.parte2_da_secao1 .part2 {
    display: flex;
    flex: 1;
}

.parte2_da_secao1 .organizacao .background {
    display: flex;
    width: 100%;
    justify-content: right;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

.parte2_da_secao1 .organizacao .background img {
    width: 350px;
    height: 350px;
    opacity: 1;
    animation: fadeEffect 5s infinite;
    border-radius: 50%;
    margin-right: 10%;
}

@keyframes fadeEffect {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.parte2_da_secao1 .part1 h2 {
    color: #EDEDF1;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 40px;
    font-weight: 900;
    overflow: hidden;
    white-space: nowrap;

    animation: typing 2s steps(400, end);
}

.parte2_da_secao1 .part1 h3 {
    font-family: "Noto Sans KR", sans-serif;
    color: #02A3E9;
    font-size: 28px;
    font-weight: 700;
    opacity: 1;
    animation: fadeEffect 5s infinite;
    overflow: hidden;
    white-space: nowrap;

    animation: typing 2s steps(400, end);
}

.parte2_da_secao1 .part1 p {
    width: 90%;
    font-family: "Noto Sans KR", sans-serif;
    color: #EDEDF1;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    background-color: #091b2a8f;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.parte2_da_secao1 .part1 .botoes {
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

.parte2_da_secao1 .part1 .botoes .link {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    text-decoration: none;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
}

.parte2_da_secao1 .part1 .botoes .link-1 {
    background-color: #02A3E9;
    border-radius: 10px;
    color: #091B2A;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.parte2_da_secao1 .part1 .botoes .link-1:hover {
    background-color: rgb(1, 128, 182);
    color: white;
}

.parte2_da_secao1 .part1 .botoes .link-2 {
    border: 2px solid;
    border-color: #02A3E9;
    border-radius: 10px;
    color: #02A3E9;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.parte2_da_secao1 .part1 .botoes .link-2:hover {
    background-color: rgb(1, 128, 182);
    border-color: transparent;
    color: white;
}

@media (width <=576px) {
    .caixa-principal{
        display: none;
    }

    .parte2_da_secao1 .part2 {
        display: none;
    }

    .parte2_da_secao1 .part1 {
        width: 100%;
    }

    .parte2_da_secao1 .part1 h3 {
        font-size: 24px;
    }

    .parte2_da_secao1 .part1 p {
        width: 100%;
    }

    .parte2_da_secao1 .part1 .botoes {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        /* Para centralizar horizontalmente */
    }

    .parte2_da_secao1 .part1 .botoes .link {
        width: 100%;
        text-align: center;
        margin: auto;
    }

    .parte2_da_secao1 .part1 .botoes .link-1 {
        width: auto;
        text-align: center;
    }

    .parte2_da_secao1 .part1 .botoes .link-2 {
        width: auto;
        text-align: center;
    }
}