/* Importação da fonte Noto Sans KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* Reset padrão para elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização da barra de rolagem */
/* Barra de rolagem padrão */
::-webkit-scrollbar {
    width: 12px;
    z-index: 1;
    /* Largura da barra de rolagem */
}

/* Cor de fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #363636;
    z-index: 1;
    /* Cinza bem escuro */
}

/* Cor da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #03A5E4;
    /* Azul */
    border-radius: 0px;
    z-index: 1;
    /* Borda arredondada */
}

/* Cursor personalizado */
.custom-cursor {
    cursor: url('/img/assets/cursor.png'), auto;
}

/* Estilos para o HTML e o corpo do documento */
html,
body {
    width: 100%;
    height: 100%;
    font-family: "Noto Sans KR", sans-serif;
}

/* Estilos para a seção 1 */
.secao1 {
    background-image: url(/img/background/background-2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 1%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 0%;
    position: relative;
}

/* Mestre de fundo da seção 1 */
.secao1 .background-master {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Ou largura desejada */
    height: 100%;
    /* Ou altura desejada */
    padding-top: 1%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 0%;
    background-color: rgba(9, 27, 42, 0.288);
    z-index: 1;
}

/* Subcontainer 2 da caixa principal */
.caixa-principal .caixa-sub2 {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid transparent;
    animation: typing 10s steps(300, end);
    z-index: 2;
}

/* Animação de digitação */
@keyframes typing {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Título h2 dentro de caixa-sub2 */
.caixa-principal .caixa-sub2 h2 {
    font-size: 30px;
    animation: fadeEffect2 10s infinite;
}

/* Animação de fade para h2 */
@keyframes fadeEffect2 {
    0% {
        color: #D5DFE9;
    }

    50% {
        color: #03A5E4;
    }

    100% {
        color: #D5DFE9;
    }
}

/* Organização dentro de caixa-sub */
.caixa-principal .caixa-sub .organizacao {
    animation: typing 2s steps(500, end);
    z-index: 999;
}

/* Item ativo dentro de caixa-sub */
.caixa-principal .caixa-sub .ativo {
    color: #03A5E4;
}

/* Link dentro de caixa-sub */
.caixa-principal .caixa-sub .link {
    color: #D5DFE9;
    transition: color 0.3s ease-in;
}

/* Hover do link dentro de caixa-sub */
.caixa-principal .caixa-sub .link:hover {
    color: #03A5E4;
}

/* Parte 2 da seção 1 */
.parte2_da_secao1 {
    height: 90%;
    display: flex;
    justify-content: space-between;
}

/* Organização dentro da parte 2 da seção 1 */
.parte2_da_secao1 .organizacao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

/* Parte 1 da seção 1 */
.parte2_da_secao1 .part1 {
    width: 50%;
}

/* Parte 2 da seção 1 */
.parte2_da_secao1 .part2 {
    display: flex;
    flex: 1;
}

/* Fundo da organização */
.parte2_da_secao1 .organizacao .background {
    display: flex;
    width: 100%;
    justify-content: right;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

/* Imagem de fundo da organização */
.parte2_da_secao1 .organizacao .background img {
    width: 350px;
    height: 350px;
    opacity: 1;
    animation: fadeEffect 5s infinite;
    border-radius: 50%;
    margin-right: 10%;
}

/* Animação de fade */
@keyframes fadeEffect {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

/* Título h2 dentro da parte 1 da seção 1 */
.parte2_da_secao1 .part1 h2 {
    color: #EDEDF1;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 40px;
    font-weight: 900;
    overflow: hidden;
    white-space: nowrap;

    animation: typing 2s steps(400, end);
}

/* Título h3 dentro da parte 1 da seção 1 */
.parte2_da_secao1 .part1 h3 {
    font-family: "Noto Sans KR", sans-serif;
    color: #02A3E9;
    font-size: 28px;
    font-weight: 700;
    opacity: 1;
    animation: fadeEffect 5s infinite;
    overflow: hidden;
    white-space: nowrap;

    animation: typing 2s steps(400, end);
}

/* Parágrafo dentro da parte 1 da seção 1 */
.parte2_da_secao1 .part1 p {
    width: 90%;
    font-family: "Noto Sans KR", sans-serif;
    color: #EDEDF1;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    background-color: #091b2a8f;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
}

/* Animação de fadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Links dos botões dentro da parte 1 da seção 1 */
.parte2_da_secao1 .part1 .botoes a {
    cursor: pointer;
}

/* Botões dentro da parte 1 da seção 1 */
.parte2_da_secao1 .part1 .botoes {
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

/* Estilo dos links dos botões */
.parte2_da_secao1 .part1 .botoes .link {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
}

/* Estilo do botão link-1 */
.parte2_da_secao1 .part1 .botoes .link-1 {
    background-color: #02A3E9;
    border-radius: 10px;
    color: rgb(1, 70, 100);
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

/* Hover do botão link-1 */
.parte2_da_secao1 .part1 .botoes .link-1:hover {
    background-color: rgb(1, 128, 182);
    color: white;
}

/* Estilo do botão link-2 */
.parte2_da_secao1 .part1 .botoes .link-2 {
    border: 2px solid;
    border-color: #02A3E9;
    border-radius: 10px;
    color: #02A3E9;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

/* Hover do botão link-2 */
.parte2_da_secao1 .part1 .botoes .link-2:hover {
    background-color: rgb(1, 128, 182);
    border-color: transparent;
    color: white;
}

/* Estilo para o player */
.player {
    display: block;
}

/* Estilos para dispositivos móveis */
@media (max-width: 576px) {

    /* Ocultar caixa principal */
    .caixa-principal{
        display: none;
    }

    /* Estilos para o footer */
    footer {
        display: flex;
        flex-direction: row;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #091b2a;
        padding: 20px;
        text-align: center;
        z-index: 999;
    }

    /* Estilos para a navegação dentro do footer */
    footer nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 5px;
        margin-right: 5px;
    }

    /* Estilos para o link dentro do footer */
    footer .link {
        display: flex;
        flex-direction: column;
    }

    /* Estilos para o ícone dentro do footer */
    footer i {
        color:#026891;
    }

    /* Estilos para o link dentro do footer */
    footer a {
        text-decoration: none;
        font-family: Noto Sans KR, sans-serif;
        margin-top: 10px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        align-items: center;
        color:#02A3E9;
    }

    /* Display do footer */
    footer {
        display: block !important;
    }

    /* Z-index para o cabeçalho */
    .header{
        z-index: 9999;
    }

    /* Ocultar menu-header */
    .menu-header {
        display: none !important;
    }

    /* Ocultar parte 2 da seção 1 */
    .parte2_da_secao1 .part2 {
        display: none;
    }

    /* Largura total para parte 1 da seção 1 */
    .parte2_da_secao1 .part1 {
        width: 100%;
    }

    /* Tamanho do título h3 para dispositivos móveis */
    .parte2_da_secao1 .part1 h3 {
        font-size: 24px;
    }

    /* Largura total para o parágrafo da parte 1 da seção 1 */
    .parte2_da_secao1 .part1 p {
        width: 100%;
    }

    /* Estilos para os botões da parte 1 da seção 1 em dispositivos móveis */
    .parte2_da_secao1 .part1 .botoes {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    /* Estilos para os links dos botões da parte 1 da seção 1 em dispositivos móveis */
    .parte2_da_secao1 .part1 .botoes .link {
        width: 100%;
        text-align: left;
        margin-right: 10;
    }

    /* Estilos para o botão link-1 da parte 1 da seção 1 em dispositivos móveis */
    .parte2_da_secao1 .part1 .botoes .link-1 {
        width: auto;
        text-align: center;
        cursor: pointer;
    }

    /* Estilos para o botão link-2 da parte 1 da seção 1 em dispositivos móveis */
    .parte2_da_secao1 .part1 .botoes .link-2 {
        width: auto;
        text-align: center;
    }
}
