@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Barra de rolagem padrão */
::-webkit-scrollbar {
    width: 12px;
    /* Largura da barra de rolagem */
}

/* Cor de fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #363636;
    /* Cinza bem escuro */
}

/* Cor da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #03A5E4;
    /* Azul */
    border-radius: 0px;
    /* Borda arredondada */
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;


}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.topo-menu .logo {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid transparent;
    animation: typing 5s steps(300, end);
    z-index: 2;
}

.topo-menu .logo h1 {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
    animation: fadeEffect2 1s infinite;
}

@keyframes fadeEffect2 {
    0% {
        color: #D5DFE9;
    }

    50% {
        color: #03A5E4;
    }

    100% {
        color: #D5DFE9;
    }
}

.navbar-nav .nav-item {
    animation: typing 4s steps(1000, end);
}



/* Estilos para o logotipo */
.logo h1 {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
    animation: fadeEffect2 10s infinite;
}

@keyframes fadeEffect2 {
    0% {
        color: #D5DFE9;
    }

    50% {
        color: #03A5E4;
    }

    100% {
        color: #D5DFE9;
    }
}

/* Estilos para a barra de navegação */
.navbar {
    background-color: transparent;
}

.navbar-nav .nav-link {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    color: #D5DFE9;
    transition: color 0.3s ease-in;
}

.navbar-nav .nav-link:hover {
    color: #03A5E4;
}

.background-image1 {
    margin-top: -110px;
}

.parallax-container {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    overflow: hidden;
}

.container {
    position: relative;
    z-index: 1;
}

.background-image1 {
    background-image: url(/img/background/background-3.webp);
}

.background-image2 {
    background-image: url(/img/background/background-4.webp);
}

.background-image3 {
    background-image: url(/img/background/background-5.webp);
}

.history {
    color: white;
    font-family: "Noto Sans KR", sans-serif;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
}

.container .row {
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.parallax-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parallax-container .container {
    background-color: rgba(9, 27, 42, 0.795);
    border-radius: 6px;
}

.parallax-container .parte2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.progress {
    position: relative;
    text-align: left;
}

.titulo {
    position: absolute;
    left: 40px;
    transform: translateX(-50%);
    text-align: left;
    color: white;
}

.progress-bar {
    height: 20px;
    /* Ajuste a altura conforme necessário */
}

.percentage {
    position: absolute;
    right: 0%;
}

.secao1 {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.secao1 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}

.parallax-container span {
    color: #03A5E4;
}

.background-master {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    /* Ajuste conforme necessário */
    background-image: url(/img/background/background-6.webp);
    /* Substitua pelo caminho da sua imagem de fundo */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* Adiciona o efeito de parallax */
}

.secao1 .kit {
    background-color: rgba(9, 27, 42, 0.795);
    border-radius: 6px;
    padding: 10px;
}

.secao1 .kit h2 {
    color: white;
}

.secao1 .kit p {
    color: #03A5E4
}

@media (width <=576px) {
    header {
        display: none;
    }

    .parallax-container {
        margin-top: 0px;
    }

}